# Node.js
node_modules/

# Environment variables
.env

# macOS
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
/jspm_packages/
/bower_components/

# TypeScript
*.tsbuildinfo

# Compiled binary addons (like node-sass)
/build/Release/

# Output of 'npm pack'
*.tgz

# Yarn
yarn-error.log
.pnp.*
.pnp.js
